[submodule "plugin/drumstudy-wp-plugin"]
	path = plugin/drumstudy-wp-plugin
	url = git@github.com:leonstafford/drumstudy-wp-plugin.git

[submodule "theme/accessible-minimalism-wordpress-theme"]
	path = theme/accessible-minimalism-wordpress-theme
	url = https://github.com/leonstafford/accessible-minimalism-wordpress-theme
[submodule "theme/drumstudy-child-theme"]
	path = theme/drumstudy-child-theme
	url = git@github.com:leonstafford/drumstudy-child-theme.git
